.hp_shopp {
    height: 100vh;
    background-image: url("../img/shop/vender4.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    border: 1px solid transparent;
    overflow: hidden;
}

.hp_shop_product {
    max-width: 100px;
    height: 150px;
}

.hp_shop_protein {
    position: absolute;
    top: 19%;
    left: 24%;
}

.hp_shop_protein_bm {
    position: absolute;
    top: 43%;
    left: 24%;
}

.hp_shop_text {
    position: absolute;
    top: 77%;
    left: 25%;
}

@media screen and (max-width: 767px) {
    .hp_shop_protein {
        position: absolute;
        max-width: 30px;
        top: 17.8%;
        left: 8%;
    }
    .hp_shop_product {
        max-width: 30px;
        height: 50px;
    }
    .hp_shop_text {
        position: absolute;
        top: 53%;
        left: 10%;
        font-size: 18px;
    }
    .hp_shop_protein_bm {
        position: absolute;
        max-width: 30px;
        top: 34%;
        left: 8%;
    }
    .vendor_red {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .hp_shop_protein {
        position: absolute;
        max-width: 30px;
        top: 17.8%;
        left: 8%;
    }
    .hp_shop_product {
        max-width: 30px;
        height: 50px;
    }
    .hp_shop_text {
        position: absolute;
        top: 53%;
        left: 10%;
        font-size: 18px;
    }
    .hp_shop_protein_bm {
        position: absolute;
        max-width: 30px;
        top: 34%;
        left: 8%;
    }
    .vendor_red {
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .hp_shop_protein {
        position: absolute;
        max-width: 30px;
        top: 16.8%;
        left: 7%;
    }
    .hp_shop_product {
        max-width: 30px;
        height: 50px;
    }
    .hp_shop_text {
        position: absolute;
        top: 53%;
        left: 10%;
        font-size: 18px;
    }
    .hp_shop_protein_bm {
        position: absolute;
        max-width: 30px;
        top: 33.5%;
        left: 7%;
    }
    .vendor_red {
        width: 100%;
    }
}