#section1,
#section2,
#section3 {
  background-size: cover;
}

#infoMenu li a {
  color: #fff;
}

#index_Door {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
z-index: 3000;

  .bgfangda {
    background-image: url("../img/index/index02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;

    .bgfangdamofu {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: inherit;
      filter: blur(5px);
      z-index: -1;
    }



    #wq {
      position: absolute;
      bottom: 0px;
      left: 49.9%;
      display: block;
      width: 2px;
      height: 80px;
      background-color: white;
      z-index: 10;
      @media screen and (max-width:414px){
       
    
        bottom: -40px;
      }

    }

    .door_l {
      background-image: url("../img/index/bodoor_f.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 49.9%;
      height: 100vh;
      display: inline-block;
      margin: 0;
      box-sizing: border-box;
      position: relative;



      img {
        position: absolute;

        &:nth-child(2) {
         
          top: -200px;
          left: -100px;
        }
 
        @media screen and (max-width:414px){
         display: none;
        }

      }

      .wordsaboutus {
        margin-top: 330px;
        margin-left: 40%;
 
        
        @media screen and (max-width:1440px){
          margin-top: 250px;
  
        }
        @media screen and (max-width:1230px){
          margin-left: 34%; 
        }
        @media screen and (max-width:1100px){
          margin-left: 30%; 
        }
        @media screen and (max-width:1046px){
          margin-left: 20%; 
        }
        @media screen and (max-width:900px){
          margin-left: 15%; 
        }
        @media screen and (max-width:580px){
          margin-left: 20%; 
          margin-top:  150px;
          position: relative;
          z-index: 20;
         }
        @media screen and (max-width:414px){
          margin-top: 150px;
          margin-left: 25%; 
        
        }

        h1 {
          width: 350px;
          font-size: 40px;
          font-weight: 700;
          @media screen and (max-width:900px){ 
            width: 300px;
            font-size: 32px;
           
          }
        }

        p {
          width: 355px;
          font-size: 18.72px;
          @media screen and (max-width:900px){ 
            width: 320px;
            font-size: 16px;
          }
        }

        img {
          position: absolute;
          right: 0;
          top: 540px;
         

        }


      }

      .iphonegif {
        position: absolute;
        width: 125px;
        bottom: 22%;
        left: 20%;
        transform: rotate(-10deg);
        @media screen and (max-width:1440px){
          width: 100px;
        }
        @media screen and (max-width:1230px){
          left: 15%;
          width: 80px;  
        }
        @media screen and (max-width:1046px){
          bottom: 15%;
        }
        @media screen and (max-width:580px){
         display: none;
        }
      }

    }


    .door_r {
      margin: 0;
      font-size: 0;
      box-sizing: border-box;
      background-image: url("../img/index/bodoor_r.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 100vh;
      float: right;
      position: relative;

      a {
        display: inline-block;
        position: absolute;
        top: 260px;
        left: 100px;
        z-index: 2;


      }

      img {
        &:nth-child(2) {

          position: absolute;
          top: 540px;
          left: -290px;
        }

      }

      .applyoentwothree {
        position: absolute;
        top: 15px;
        left: 380px;
        @media screen and (max-width:1046px){
          display: none;
        }
        @media screen and (max-width:620px){
          display: block;
          left: 0px;
        }

        a {

          .applyoen1 {
            width: 260px;
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (max-width:1615px){
              left: -50px;
            }
            @media screen and (max-width:1536px){
              left: -100px;
            }
            @media screen and (max-width:1440px){
              top: -20px;
              width:230px;
              left: -140px;
            }
            @media screen and (max-width:1422px){
              left: -160px;
            }
            @media screen and (max-width:1350px){
              left: -180px;
            }
            @media screen and (max-width:1229px){
              width: 200px;      
            }
            @media screen and (max-width:1117px){
              left: -200px;     
            }
            @media screen and (max-width:620px){
              top: 200px;
              width:140px;
              left: -50px; 
            }
            @media screen and (max-width:414px){
              top:110px;
              width:120px;
              left: -90px; 
            }
            @media screen and (max-width:375px){
              top:100px;
              left: -80px; 
            }
        
        
          
          }

          .applyoen2 {
            width: 260px;
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (max-width:1615px){
              left: -50px;
            }
            @media screen and (max-width:1536px){
              left: -100px;
            }
            @media screen and (max-width:1440px){
              top: -20px;
              width:230px;
              left: -140px;
            }
            @media screen and (max-width:1422px){
              left: -160px;
            }
            @media screen and (max-width:1350px){
              left: -180px;
            }
            @media screen and (max-width:1229px){
 
              width: 200px;      
            }
            @media screen and (max-width:1117px){
 
              left: -200px;     
            }
            @media screen and (max-width:620px){
              top: 200px;
              width:140px;
              left: -50px; 
            }
            @media screen and (max-width:414px){
              top:110px;
              width:120px;
            }
            @media screen and (max-width:375px){
              top:100px;
              left: -80px; 
            }
          }

          .applyoen3 {
            width: 260px;
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (max-width:1615px){
              left: -50px;
            }
            @media screen and (max-width:1536px){
              left: -100px;
            }
            @media screen and (max-width:1440px){
              top: -20px;
              width:230px;
              left: -140px;
            }
            @media screen and (max-width:1422px){
              left: -160px;
            }
            @media screen and (max-width:1350px){
              left: -180px;
            }
            @media screen and (max-width:1229px){
 
              width: 200px;      
            }
            @media screen and (max-width:1117px){
 
              left: -200px;     
            }
            @media screen and (max-width:620px){
              top: 200px;
              width:140px;
              left: -50px; 
            }
            @media screen and (max-width:414px){
              top:110px;
              width:120px;
            
            }
            @media screen and (max-width:375px){
              top:100px;
              left: -80px; 
            }
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }



    .scrolling {
      width: 200px;
      text-align: center;
      position: fixed;
      bottom: 50px;
      left: calc(50% - 100px);

      font-size: 32px;
      color: white;
      @media screen and (max-width:414px){
        font-size: 24px;
        bottom: 20px;
      }
      @media screen and (max-width:375px){
        font-size: 20px;
        bottom: 15px;
      }
    }


  }

  .bgblack {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/index/index02.png");
  }

  .bigRobor {
    position: relative;
    margin-top: 100px;
    margin-left: 16%;
    transform: translateY(-1000px);
    @media screen and (max-width:1200px){
      margin-top: 150px;
      margin-left: 10%;
     }
     @media screen and (max-width:800px){
      margin-top: 120px;
      margin-left: 8%;
     }
     @media screen and (max-width:414px){
      margin-top: 150px;
     }

    img {
      width: 30%;

      &:nth-child(1) {
        position: absolute;
      }

      &:nth-child(2) {
        position: absolute;
      }

      &:nth-child(3) {
        position: absolute;
      }
    }
  }

  .roborsayall {
    font-size: 28px;
    color: white;
    position: absolute;
    top: 30%;
    left: 51%;
    transform: translateY(-1000px);
    @media screen and (max-width:1200px){
      left: 43%;
     }
     @media screen and (max-width:800px){
      font-size: 22px;
      top: 40%;
     }
     @media screen and (max-width:630px){
      font-size: 22px;
      top: 50%;
      left: 20%;
     }
     @media screen and (max-width:414px){
      top: 48%;
      left: 13%;
     }
     @media screen and (max-width:375px){
      font-size: 20px;
     }
  

  }
}




#rrroborcursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.indexdanjusection1 {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;

  .indexfordoorQQ {
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;


    .bohibigagin {
      position: absolute;
      top: 270px;
      right: 560px;
      width: 300px;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      @media screen and (max-width:1824px){
        right: 500px;
      }
      @media screen and (max-width:1730px){
        right: 450px;
      }
      @media screen and (max-width:1630px){
        right: 400px;
      }
      @media screen and (max-width:1440px){
        top: 240px;
        width:250px;
        right: 420px;
      }
      @media screen and (max-width:1394px){
 
        right: 400px;
      }
      @media screen and (max-width:1312px){
 
        right: 350px;
      }
      @media screen and (max-width:1229px){
 
        width: 220px;      
      }
      @media screen and (max-width:1200px){
        right: 315px;   
      }
      @media screen and (max-width:1122px){
 
        right: 300px;   
      }
      @media screen and (max-width:1046px){
        width:270px;
        right: 25%;
      }
      @media screen and (max-width:860px){
        right: 15%;
      }
      @media screen and (max-width:730px){
       width: 70%;
      }
      @media screen and (max-width:620px){
        width: 60%;
       }
       @media screen and (max-width:580px){
        top: 380px;
        right: 110%;
        width: 60%;
       }

      @media screen and (max-width:414px){
        right: 105%;
        width:150px;
       
      }
      @media screen and (max-width:375px){
        right: 108%;
        width:120px;
       
      }
    }
  }
}