@import './kw_youtubeAPI';

.btn-light {
    color:#7a5350 !important;
    background-color: white;
    transition: 0.5s;
    &:hover {
        background-color: #f46f65;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
        box-sizing: border-box;
        color:white !important;
    }
}

.knowledge_fullpage {
    border: 1px solid transparent;
    background-image: url('../img/knowledge/know1920.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    // 書本雜誌
    .kw_bookshelf_book {
        position: relative;
        display: flexbox;
        // border: 1px solid rgb(185, 42, 64);
        width: 52%;
        height: 45%;
        bottom: 5%;
        right: 1%;

        .kw_bookshelf_top {
            position: absolute;
            transform: rotate(-7deg);
            bottom: 49%;
            right: 20%; // margin: 13.2% 0% 0% 30%;
        }

        .kw_bookshelf_deco1 {
            position: absolute;
            bottom: 38%;
            right: 15%;
            transform: rotate(-1deg);
        }

        .kw_bookshelf_bottom {
            position: absolute;
            transform: rotate(-9deg);
            bottom: 4.8%;
            right: 18%; // margin: 13.2% 0% 0% 30%;
        }

        .kw_bookshelf_deco2 {
            position: absolute;
            bottom: -6%;
            right: 11.8%;
            transform: rotate(-3deg);
        }
    }

    // 電視
    .kw_tv {
        position: absolute;
        top: 17%;
        right: 8%;
        width: 25%;
        height: 25%;

        iframe {
            position: absolute;
            z-index: 5;
            transform: rotate(3.5deg);
            top: 16%;
            right: 21%;
        }

        img {
            // width: 100%;
            position: absolute;
            z-index: 4;
            transform: rotate(3.5deg);
            top: 3%;
            right: 10%;
        }
    }

    // 電視btn
    .kw_tv_text {
        transform: rotate(3.5deg);
        position: absolute;
        top: 50%;
        right: 11%;
        border:5px solid;
        z-index: 5;
    }

    // 書的字
    .kw_book_text {
        position: absolute;
        display: inline-flex;
        transform: rotate(-11deg);
        display: inline-flex;
        bottom: 32%;
        left: 20%;
        justify-content: flex-start;

        .kw_book_text1 {
            display: inline-flex;
            width: 350px;
            text-align: left;
            height: 68px;
            vertical-align: -26px;
            font-size: 2.2rem;

            div {
                font-weight: bold;
                text-align: center;
                font-size: 0px;
                opacity: 0;
                margin-top: 0px;
                margin-left: 2px;
                position: absolute;
            }

            div:nth-child(1) {
                animation: roll 6s linear infinite 0s;
            }

            div:nth-child(2) {
                animation: roll 6s linear infinite 3s;
            }
        }

        @keyframes roll {
            0% {
                font-size: 0px;
                opacity: 0;
                margin-top: -30px;
            }

            3% {
                opacity: 1;
                transform: rotate(0deg);
            }

            5% {
                font-size: inherit;
                opacity: 1;
                margin-top: 0px;
            }

            20% {
                font-size: inherit;
                opacity: 1;
                margin-top: 0px;
            }

            27% {
                font-size: 0px;
                opacity: 0.5;
                margin-top: 100px;
            }

            100% {
                font-size: 0px;
                opacity: 0;
                margin-top: -30px;
            }
        }
    }

    //tdee計算字
    .kw_pad_text {
        text-align: center;
        position: absolute;
        bottom: 22.5%;
        left: 42%;
        padding: 3% 2%;

        a {
            &:hover {
                text-decoration: none;
            }

            h2 {
                display: block;
                margin: 0 auto;
                text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
                /* Clip Background Image */
                background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
                -webkit-background-clip: text;
                background-clip: text;
                /* Animate Background Image */
                -webkit-text-fill-color: transparent;
                animation: aitf 80s linear infinite;
                /* Activate hardware acceleration for smoother animations */
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
            }
        }

        /* Animate Background Image */
        @-webkit-keyframes aitf {
            0% {
                background-position: 0% 50%;
            }

            100% {
                background-position: 100% 50%;
            }
        }
    }
}

#exampleModal1 {
    margin-top: 8%;
    height: 100vh;
    // margin: 0 auto;
    text-align: center;

    .modal-content {
        // transform: translateY(30px);
        margin: 0 auto;
        background-position: center center;
        background-size: cover;
        height: 300px;
    }
}

// TDEE計算跳窗
#exampleModal2 {
    .modal-content {
        background-image: url('../img/Weight_tdee.png');
        background-position: center center;
        background-size: cover;
        // width: 1500px;
        height: 100vh;
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;

        h1 {
            font-weight: bolder;
        }

        .modal-body {
            form {
                margin-top: 5%;
            }

            #Result_BMR {
                margin-top: 20%;
            }
        }
    }
}

// @import './knowRWD';
//rwd
@media screen and (max-width:1200px) {
    .knowledge_fullpage {
        .kw_bookshelf_book {
            // border: 1px solid rgb(190, 148, 154);
            width: 60%;

            .kw_bookshelf_top {
                bottom: 51%;
                right: 20%;
            }

            .kw_bookshelf_deco1 {
                bottom: 42%;
                right: 15%;
            }

            .kw_bookshelf_bottom {
                bottom: 12%;
            }

            .kw_bookshelf_deco2 {
                bottom: 2%;
            }
        }

        .kw_tv {
            // border: 4px solid rgb(165, 146, 161);
            top: 17%;
            right: 3%;

            iframe {
                top: 12%;
                right: 18%;
            }

            img {
                // display: none;
                width: 375px;
            }
        }

        .kw_tv_text {
            top: 48%;
            right: 6%;
        }

        .kw_book_text {
            top: 50%;
        }

        .kw_pad_text {
            bottom: 23%;
            left: 38%;
        }
    }
}

@media screen and (max-width:992px) {
    .knowledge_fullpage {
        background-image: url('../img/knowledge/know992.jpg');

        .kw_bookshelf_book {
            // border: 1px solid rgb(46, 44, 44);
            width: 100%;
            margin: 0 auto;
            top: 8%;
            right: 1%;

            .kw_bookshelf_top {
                transform: rotate(0deg);
                margin: 0 auto;
                right: 25%;
            }

            .kw_bookshelf_deco1 {
                transform: rotate(6deg);
                right: 19%;
            }

            .kw_bookshelf_bottom {
                transform: rotate(0deg);
                right: 25%;
            }

            .kw_bookshelf_deco2 {
                transform: rotate(6deg);
                right: 19%;
            }
        }

        .kw_tv {
            // border: 1px solid rgb(165, 146, 161);
            top: 65%;
            right: 15%;
            margin: 0 auto;

            // width: 25%;
            iframe {
                top: 10%;
                right: 20%;
                transform: rotate(0deg);
            }

            img {
                transform: rotate(0deg);
            }
        }

        .kw_tv_text {
            transform: rotate(0deg);
            top: 47%;
            right: 57%;
            top: 88%;
        }

        .kw_book_text {
            transform: rotate(0deg);
            top: 18%;
            left: 25%;
        }

        .kw_pad_text {
            bottom: 19%;
            left: 15%;
        }
    }
}

@media screen and (max-width:414px) {
    .knowledge_fullpage {
        height: 140vh;

        .kw_bookshelf_book {
            top: 0%;

            img {
                width: 23.2%;
            }

            .kw_bookshelf_top {
                right: 0%;
                top: 5%;
            }

            .kw_bookshelf_deco1 {
                right: 0%;
                width: 100%;
                top: 22%;
            }

            .kw_bookshelf_bottom {
                right: 0%;
                top: 34%;
            }

            .kw_bookshelf_deco2 {
                right: 0%;
                width: 100%;
                top: 51%;
            }
        }

        .kw_tv {
            top: 80%;
            left: 38%;
            width: 55%;

            // border: 1px solid yellowgreen;
            iframe {
                top: 12%;
                left: -50%;
            }

            img {
                display: none;
            }
        }

        .kw_tv_text {
            display: none;
        }

        .kw_book_text {
            display: none;
        }

        .kw_pad_text {
            top: 62%;
            left: 34%;
        }
    }
}

@media screen and (max-width:375px) {
    .knowledge_fullpage {
        .kw_pad_text {
            top: 66%;
            // left: 34%;
        }

        .kw_tv {
            iframe {
                top: 19%;
                left: -55%;
            }

            img {
                display: none;
            }
        }
    }

    #exampleModal2 {
        .modal-body {
            #kw_tdeeForm {
                margin-top: 0%;
            }

            #Result_BMR {
                margin-top: 5%;
            }
        }
    }
}