@mixin allpaperposition($top, $left, $z-index:null) {
    position: absolute;
    top: $top;
    left: $left;
    z-index: $z-index;
    background-repeat: no-repeat;
}


@mixin allmempchange($padding, $top, $left) {
    padding: $padding;
    position: relative;
    top: $top;
    left: $left;
}



#memall {
    margin: 0;
    background-image: url("../img/mem/mem_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



#memSide {
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    perspective: 900px;
    perspective-origin: -400% -100%;



    @media screen and (max-width :1485px) {
        margin-top: 90px;
    }

    @media screen and (max-width :1105px) {
        margin-top: 120px;
        width: 769px;
    }

    @media screen and (max-width :950px) {
        margin-top: 60px;
        margin-left: 12%;
    }

    @media screen and (max-width :883px) {
        margin-top: 60px;
        margin-left: 10%;
    }

    @media screen and (max-width :853px) {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width :768px) {
        width: 100%;
    }

    @media screen and (max-height :800px) {
        margin-top: 60px;

    }



    #anno {

        width: 200px;
        height: 480px;
        @include allpaperposition(112px, 30px, 12);
        font-size: 24px;

        @media screen and (max-width :1105px) {
            font-size: 22px;
            @include allpaperposition(112px, -70px, 12);
        }

        @media screen and (max-width :853px) {
            width: 100%;
            height: 50px;
            @include allpaperposition(0px, 0px, 12);
            font-size: 20px;

        }

        @media screen and (max-width :770px) {
            @include allpaperposition(2px, 0px, 12);
        }

        @media screen and (max-width :375px) {
            @include allpaperposition(0px, -22px, 12);

        }


        #menMybodychange {

            margin: 0;
            text-align: center;
            cursor: pointer;
            @include allmempchange(8px, -18px, -28px);
            transform: translateZ(2000px);

            @media screen and (max-width :853px) {

                width: 100px;
                @include allmempchange(0px, 10px, 60px);
            }

            @media screen and (max-width :770px) {

                width: 80px;
                @include allmempchange(0px, 10px, 50px);
            }

            @media screen and (max-width :535px) {
                font-size: 18px;
                width: 50px;
                @include allmempchange(0px, 10px, 34px);
            }

            @media screen and (max-width :414px) {


                @include allmempchange(0px, 8px, 24px);
            }

            @media screen and (max-width :375px) {

                @include allmempchange(0px, 10px, 42px);
            }

        }

        #menInfochange {

            margin: 0;
            text-align: center;
            cursor: pointer;
            @include allmempchange(6px, 18px, -28px);
            transform: translateZ(2000px) rotate(-1deg);

            @media screen and (max-width :853px) {

                width: 100px;
                @include allmempchange(0px, -20px, 160px);
                transform: translateZ(2000px) rotate(0deg);
            }

            @media screen and (max-width :770px) {
                width: 80px;
                @include allmempchange(0px, -22px, 140px);
            }

            @media screen and (max-width :535px) {
                font-size: 18px;
                width: 50px;
                @include allmempchange(0px, -20px, 104px);
            }

            @media screen and (max-width :414px) {

                width: 60px;
                @include allmempchange(0px, -25px, 90px);
            }

            @media screen and (max-width :375px) {

                width: 50px;
                @include allmempchange(0px, -24px, 116px);
            }



        }

        #menShopchange {

            margin: 0;
            text-align: center;
            cursor: pointer;
            @include allmempchange(1px, 38px, -48px);
            transform: translateZ(2000px) rotate(3deg);

            @media screen and (max-width :1105px) {
                font-size: 18px;
                @include allmempchange(1px, 44px, -38px);
                transform: translateZ(2000px) rotate(3deg);
            }

            @media screen and (max-width :853px) {
                width: 65px;
                @include allmempchange(0px, -82px, 265px);
                transform: translateZ(2000px) rotate(0deg);
            }

            @media screen and (max-width :770px) {
                width: 80px;
                font-size: 20px;
                @include allmempchange(0px, -54px, 244px);
            }

            @media screen and (max-width :535px) {
                font-size: 18px;
                width: 50px;
                @include allmempchange(0px, -46px, 178px);
            }

            @media screen and (max-width :414px) {

                width: 50px;
                @include allmempchange(0px, -52px, 170px);
            }

            @media screen and (max-width :375px) {
                width: 50px;
                @include allmempchange(0px, -48px, 188px);
            }


        }

        #menActivitychange {

            margin: 0;
            text-align: center;
            cursor: pointer;
            @include allmempchange(3px, 70px, -40px);
            transform: translateZ(2000px) rotate(1deg);

            @media screen and (max-width :853px) {

                width: 100px;
                @include allmempchange(0px, -110px, 525px);
            }

            @media screen and (max-width :770px) {
                width: 80px;
                @include allmempchange(0px, -80px, 332px);

            }

            @media screen and (max-width :535px) {
                font-size: 18px;
                width: 50px;
                @include allmempchange(0px, -75px, 236px);

            }

            @media screen and (max-width :414px) {
                width: 50px;

                @include allmempchange(0px, -78px, 234px);
            }

            @media screen and (max-width :375px) {


                @include allmempchange(0px, -76px, 256px);
            }



        }

        #menLovechange {

            margin: 0;
            text-align: center;
            cursor: pointer;
            @include allmempchange(3px, 144px, -10px);
            transform: translateZ(2000px) rotate(-1deg);

            @media screen and (max-width :853px) {
                width: 100px;
                @include allmempchange(0px, -142px, 610px);
            }

            @media screen and (max-width :770px) {
                width: 80px;
                @include allmempchange(0px, -110px, 443px);
            }

            @media screen and (max-width:535px) {
                width: 50px;
                font-size: 18px;
                @include allmempchange(0px, -102px, 296px);
            }

            @media screen and (max-width :414px) {
                width: 50px;

                @include allmempchange(0px, -102px, 290px);
            }

            @media screen and (max-width :375px) {
                width: 50px;
                font-size: 18px;
                @include allmempchange(0px, -102px, 308px);
            }





        }

    }

    .memClip_1 {
        opacity: 0.8;
        @include allpaperposition(-90px, 540px);

        @media screen and (max-width :1105px) {
            width: 65px;
            opacity: 0.8;
            @include allpaperposition(-70px, 378px);
        }

        @media screen and (max-width :1105px) and (max-height :800px) {
            width: 65px;
            @include allpaperposition(-70px, 378px);

        }

        @media screen and (max-width :770px) {
            display: none;
        }


    }

    .memBoard {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        position: relative;

        @media screen and (max-width :1105px) {
            width: 100%;
            height: 1066px;
        }

        @media screen and (max-width :414px) {
            width: 103%;
            margin-left: -4px;
        }
    }

    #memLove {

        width: 1000px;
        height: 100vh;
        background-image: url("../img/mem/mem_lovep.png");
        @include allpaperposition(25px, 20px);
        transform: translateZ(2000px);


        @media screen and (max-width :1105px) {
            width: 830px;
            height: 996px;
            @include allpaperposition(25px, -100px);
        }

        @media screen and (max-width :853px) {
            @include allpaperposition(30px, -100px);
        }

        //收藏
        @media screen and (max-width :770px) {
            @include allpaperposition(30px, -120px);
            width: 112%;
        }

        @media screen and (max-width :680px) {
            width: 114%;
        }

        @media screen and (max-width :600px) {

            width: 114%;
        }

        @media screen and (max-width :535px) {
            @include allpaperposition(35px, -128px);
            width: 122%;
        }

        @media screen and (max-width :414px) {
            @include allpaperposition(28px, -134px);
            width: 130%;
        }

        @media screen and (max-width :375px) {
            @include allpaperposition(35px, -138px);
            width: 135%;
        }


        .memt5-1 {
            display: none;

            @media screen and (max-width :853px) {
                display: block;
                @include allpaperposition(-30px, 693px);
            }

            @media screen and (max-width :770px) {
                width: 120px;
                height: 40px;
                @include allpaperposition(-25px, 520px);
            }

            @media screen and (max-width :535px) {
                width: 72px;
                height: 40px;
                @include allpaperposition(-25px, 400px);
            }

            @media screen and (max-width :414px) {
                width: 72px;
                height: 44px;
                @include allpaperposition(-25px, 400px);
            }

        }

        .memt5 {
            @include allpaperposition(405px, 40px);
            transform: rotate(-1deg);

            @media screen and (max-width :1105px) {
                width: 150px;
                @include allpaperposition(392px, 75px);
            }

            @media screen and (max-width :853px) {
                display: none;
            }
        }

        h2 {
            margin-left: 200px;
            margin-top: 80px;

            @media screen and (max-width :853px) {
                margin-left: 180px;
                margin-top: 40px;
            }
        }
    }

    #memActivity {

        width: 1000px;
        height: 100vh;
        background-image: url("../img/mem/mem_activityp.png");
        @include allpaperposition(30px, -10px);
        transform: translateZ(2000px);


        @media screen and (max-width :1105px) {
            width: 830px;
            height: 996px;
            @include allpaperposition(25px, -115px);
        }

        @media screen and (max-width :853px) {
            @include allpaperposition(37px, -115px);
        }

        //活動紀錄
        @media screen and (max-width :770px) {
            width: 112%;
            margin-left: -20px;

            transform: translateZ(2000px) rotate(1deg);
        }

        @media screen and (max-width :675px) {
            width: 118%;
            margin-left: -40px;

        }

        @media screen and (max-width :635px) {
            width: 118%;
            margin-left: -28px;

        }

        @media screen and (max-width :530px) {
            width: 125%;
            margin-left: -40px;

        }

        @media screen and (max-width :414px) {
            width: 133%;
            margin-left: -5px;
            @include allpaperposition(30px, -156px);
        }

        @media screen and (max-width :375px) {
            width: 138%;
        }

        .memt4-1 {
            display: none;
            transform: rotate(-1deg);

            @media screen and (max-width :853px) {
                display: block;
                @include allpaperposition(-39px, 636px);
            }

            @media screen and (max-width :770px) {
                width: 80px;
                @include allpaperposition(-32px, 452px);
            }

            @media screen and (max-width :675px) {
                @include allpaperposition(-32px, 476px);
            }

            @media screen and (max-width :535px) {
                width: 50px;
                height: 50px;
                @include allpaperposition(-32px, 385px);
            }

            @media screen and (max-width :414px) {
                width: 54px;
                height: 40px;
                @include allpaperposition(-30px, 387px);
            }



        }

        .memt4 {
            @include allpaperposition(285px, 30px);

            @media screen and (max-width :1105px) {
                width: 150px;
                @include allpaperposition(280px, 45px);
            }

            @media screen and (max-width :853px) {
                display: none;
            }
        }

        h2 {
            margin-left: 240px;
            margin-top: 40px;

            @media screen and (max-width :500px) {
                margin-left: 200px;
                margin-top: 20px;
            }
        }
    }

    #memShop {

        width: 1060px;
        height: 100vh;
        background-image: url("../img/mem/mem_shopp.png");
        @include allpaperposition(25px, -35px);
        transform: translateZ(2000px);

        @media screen and (max-width :1105px) {
            width: 850px;
            height: 996px;
            @include allpaperposition(25px, -150px);
        }

        @media screen and (max-width :853px) {
            @include allpaperposition(40px, -150px);
        }

        //訂單優惠券
        @media screen and (max-width :770px) {
            @include allpaperposition(36px, -160px);
            width: 114%;
        }

        @media screen and (max-width :680px) {
            @include allpaperposition(35px, -160px);
            width: 118%;
        }

        @media screen and (max-width :664px) {

            width: 120%;
        }

        @media screen and (max-width :600px) {

            width: 125%;
        }

        @media screen and (max-width :547px) {
            width: 125%;
        }

        @media screen and (max-width :535px) {
            @include allpaperposition(35px, -184px);
            width: 132%;
        }

        @media screen and (max-width :414px) {
            @include allpaperposition(35px, -194px);
            width: 144%;
        }

        @media screen and (max-width :375px) {
            @include allpaperposition(35px, -196px);
            width: 150%;
        }


        .memt3-1 {
            display: none;

            @media screen and (max-width :853px) {
                width: 108px;
                height: 70px;
                display: block;
                @include allpaperposition(-65px, 373px);
            }

            @media screen and (max-width :770px) {
                width: 130px;
                height: 40px;
                @include allpaperposition(-31px, 354px);
            }

            @media screen and (max-width :535px) {
                width: 78px;
                height: 50px;
                @include allpaperposition(-27px, 334px);
            }

            @media screen and (max-width :414px) {
                height: 45px;
            }
        }

        .memt3 {

            @include allpaperposition(221px, 20px);
            transform: rotate(2deg);

            @media screen and (max-width :1105px) {
                width: 150px;
                @include allpaperposition(224px, 75px);
            }

            @media screen and (max-width :853px) {
                display: none;
            }
        }

    }

    #memInfo {

        width: 1000px;
        height: 100vh;
        background-image: url("../img/mem/mem_menp.png");
        @include allpaperposition(28px, 15px);
        transform: translateZ(2000px);

        @media screen and (max-width :1105px) {
            width: 830px;
            height: 996px;
            @include allpaperposition(25px, -115px);
        }

        @media screen and (max-width :853px) {
            @include allpaperposition(30px, -115px);
        }

        //會員紙
        @media screen and (max-width :770px) {
            @include allpaperposition(30px, -135px);
            width: 114%;
        }

        @media screen and (max-width :680px) {
            @include allpaperposition(35px, -145px);
            width: 118%;
        }

        @media screen and (max-width :547px) {
            width: 125%;
        }

        @media screen and (max-width :535px) {
            @include allpaperposition(35px, -158px);
            width: 128%;
        }

        @media screen and (max-width :500px) {
            @include allpaperposition(35px, -138px);
            width: 125%;
        }

        @media screen and (max-width :414px) {
            @include allpaperposition(26px, -150px);
            width: 135%;
        }

       

        .memt2-1 {
            display: none;
            width: 100px;

            @media screen and (max-width :853px) {
                display: block;
                @include allpaperposition(-30px, 276px);
            }

            @media screen and (max-width :770px) {
                width: 80px;
                @include allpaperposition(-20px, 275px);
            }

            @media screen and (max-width :680px) {
                @include allpaperposition(-30px, 285px);
            }

            @media screen and (max-width :535px) {
                width: 48px;
                height: 44px;
                @include allpaperposition(-26px, 245px);
            }



        }

        .memt2 {
            @include allpaperposition(152px, 10px);
            transform: rotate(-1deg);

            @media screen and (max-width :1105px) {
                width: 150px;
                @include allpaperposition(154px, 60px);
            }

            @media screen and (max-width :853px) {
                display: none;
            }
        }

    }

    #memBody {

        width: 1000px;
        height: 100vh;
        background-image: url("../img/mem/mem_mybodyp.png");
        @include allpaperposition(30px, -5px);
        transform: translateZ(2000px);

        @media screen and (max-width :1105px) {
            width: 830px;
            height: 996px;
            @include allpaperposition(25px, -120px);
        }

        @media screen and (max-width :853px) {
            @include allpaperposition(40px, -120px);
        }

        @media screen and (max-width :770px) {
            @include allpaperposition(34px, -140px);

            width: 114%;
        }

        @media screen and (max-width :680px) {
            @include allpaperposition(40px, -140px);
            width: 118%;
        }

        @media screen and (max-width :547px) {

            width: 120%;
        }

        @media screen and (max-width :535px) {
            @include allpaperposition(40px, -160px);
            width: 128%;
        }

        @media screen and (max-width :500px) {
            @include allpaperposition(40px, -160px);
            width: 128%;
        }

        @media screen and (max-width :414px) {
            @include allpaperposition(40px, -170px);
            width: 140%;
        }

        @media screen and (max-width :375px) {
            @include allpaperposition(40px, -170px);
            width: 142%;

        }

        .memt1-1 {
            width: 100px;
            display: none;
            transform: rotate(-1deg);

            @media screen and (max-width :853px) {
                display: block;
                @include allpaperposition(-30px, 180px);
            }

            @media screen and (max-width :770px) {

                width: 80px;
                height: 40px;
                @include allpaperposition(-26px, 190px);
            }

            @media screen and (max-width :535px) {
                width: 60px;
                height: 40px;
                @include allpaperposition(-30px, 190px);
            }

        }

        img {
            @include allpaperposition(65px, 25px);
            transform: rotate(1deg);

            @media screen and (max-width :1105px) {
                width: 150px;
                @include allpaperposition(74px, 55px);
            }

            @media screen and (max-width :853px) {
                display: none;
            }
        }

        .memBodyafanua {
            overflow: scroll;
            overflow-x: hidden;
            margin-top: 40px;
            margin-left: 180px;
            width: 800px;
            height: 75vh;


            @media screen and (max-width :1105px) {
                width: 620px;
            }

            @media screen and (max-width :1025px) {
                height: 70vh;

            }

            @media screen and (max-width :770px) {
                width: 640px;
                height: 70vh;
            }

            @media screen and (max-width :756px) {
                width: 75%;
            }

            @media screen and (max-width :660px) {
                width: 72%;
            }

            @media screen and (max-width :610px) {
                width: 70%;
            }

            @media screen and (max-width :510px) {
                width: 70%;
            }

            @media screen and (max-width :414px) {

                width: 396px;
                height: 510px;
                margin-left: 175px;
            }

            @media screen and (max-width :375px) {

                margin-top: 25px;
                width: 348px;
                height: 468px;
                margin-left: 176px;
            }

            @media screen and (max-height :823px) {
                height: 70vh;
            }

            h2 {
                margin-left: 60px;
                margin-top: 40px;

                @media screen and (max-width :1105px) {
                    margin-left: 20px;
                    margin-top: 20px;
                }
            }

            .memBodyPart_1 {

                margin-top: 40px;
                width: 460px;
                display: inline-block;

                @media screen and (max-width :1105px) {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    margin-top: 40px;
                }

                @media screen and (max-width :414px) {
                    margin-top: 30px;
                    width: 120%;
                    margin-left: -34px;

                }


                .chartRadarDiv {
                    height: 100%;

                    .chartRadar {

                        height: 60vh;
                        width: 60vw;


                    }
                }
            }

            .memBodyPart_1awords {
                display: inline-block;
                vertical-align: bottom;
                margin-bottom: 5px;
                padding-left: 90px;
                width: 300px;

                @media screen and (max-width :1105px) {
                    padding: 0;
                    width: 80%;
                    display: block;
                    margin: 40px auto;
                }
            }

            .memBodyPart_2 {

                margin-top: 40px;
                padding-left: 100px;

                @media screen and (max-width :1105px) {
                    padding: 0;
                    width: 80%;
                    display: block;
                    margin: 20px auto;
                }

                p {
                    font-size: 16px;
                    opacity: 0.8;
                    margin-bottom: 80px;

                    @media screen and (max-width :1105px) {
                        font-size: 12px;

                    }
                }

            }

            #tdeecontent {
                margin-right: 76px;
                float: right;

                @media screen and (max-width :1105px) {
                    margin-right: 39px;
                }
            }

            .tdeechar {
                margin: 30px auto 80px auto;
                width: 665px;

                @media screen and (max-width :1105px) {
                    width: 90%;
                    display: block;
                    margin: 20px auto 90px;

                }
            }

            #trinallcontentyear {

                float: right;
            }

            #trinallcontent {
                margin-right: 76px;
                float: right;

                @media screen and (max-width :1105px) {
                    margin-right: 39px;
                }
            }

            .memtranallday {
                width: 90%;
                margin: 0 auto;
                margin-top: 40px;
                margin-bottom: 80px;
                position: relative;

                @media screen and (max-width :1105px) {
                    width: 100%;
                }

                @media screen and (max-width :414px) {
                    margin-top: 60px;
                    text-align: center;
                }

                .memtranweek {
                    width: 280px;
                    height: 280px;
                    display: inline-block;
                    background-color: rgba(172, 172, 172, 0.383);
                    margin: 20px 20px;
                    border-radius: 5px;
                    margin-left: 40px;
                    text-align: center;
                    cursor: pointer;
                    position: relative;

                    @media screen and (max-width :1105px) {
                        width: 225px;
                        height: 225px;
                        margin: 25px 20px 20px 40px;
                    }

                    @media screen and (max-width :664px) {
                        width: 82%;
                        margin-left: 28px;
                        display: block;
                    }


                    @media screen and (max-width :414px) {
                        width: 82%;
                        margin-left: 28px;
                        display: block;
                    }


                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 5px 2px 8px rgba(93, 93, 93, 0.5);

                    }



                    .memtranamom {
                        width: 100%;
                        height: 100%;
                        font-size: 100px;
                        display: block;
                        padding: 50px 10px 20px 10px;
                        color: white;
                        font-weight: 10px;
                        position: absolute;
                        right: 0;
                        visibility: visible;

                        @media screen and (max-width :1105px) {
                            font-size: 80px;
                            padding: 45px 10px 20px 10px;
                        }

                    }

                    .memtranweekword {
                        overflow-y: auto;
                        text-align: left;
                        width: 100%;
                        height: 100%;
                        color: rgba(0, 0, 0, 0.774);
                        font-size: 16px;
                        position: absolute;
                        padding: 30px;
                        display: none;

                        .memtranweekworddate {
                            font-size: 20px;
                            font-weight: bold;

                        }

                        p {
                            margin-bottom: 2px;
                        }
                    }

                    &:hover .memtranamom {
                        display: none;
                    }

                    &:hover .memtranweekword {
                        display: block;

                    }

                }

            }
        }
    }

    .memClip_2 {
        @include allpaperposition(-100px, 500px, 13);

        @media screen and (max-width :1105px) {
            width: 140px;
            @include allpaperposition(-80px, 352px, 13);
        }

        @media screen and (max-width :1105px) and (max-height :800px) {
            width: 140px;
            @include allpaperposition(-70px, 352px, 13);
        }

        @media screen and (max-width :770px) {
            display: none;
        }

    }

    .clipshadow {
        filter: drop-shadow(20px 16px 5px rgba(78, 41, 41, 0.5));
    }
}

// ___________活動區
.timeline {
    overflow: auto;
    overflow-x: hidden;
    padding-top: 60px;
    margin-top: 10px;
    margin-left: 200px;
    width: 80%;
    height: 65%;

    @media screen and (max-width :1105px) {
        width: 600px;
        margin-top: 20px;
        height: 55%;

    }

    @media screen and (max-width :900px) {
        width: 600px;
        margin-top: 20px;
        height: 55%;
        padding-top: 0px;
    }


    @media screen and (max-width :770px) {
        width: 75%;
        margin-left: 180px;
    }

    @media screen and (max-width :680px) {
        margin-left: 180px;

    }

    @media screen and (max-width :630px) {
        margin-left: 165px;

    }

    @media screen and (max-width :547px) {
        height: 540px;
        margin-left: 180px;
        width: 70%;
        margin-top: 20px;
    }

    @media screen and (max-width :414px) {
        margin-left: 180px;
        width: 383px;
        margin-top: 0px;
    }

    @media screen and (max-width :375px) {
        margin-left: 180px;
        width: 335px;
    }

    @media screen and (max-height :823px) {
        height: 67vh;
    }
    @media screen and (max-height :736px) and (max-width :414px) {
        height: 65vh;
    }

    ul {

        padding: 10px 0;
        width: 100%;


        li {
            color: rgb(189, 33, 33);
            list-style: none;
            position: relative;
            width: 6px;
            margin: 0 auto;
            background: #dc6247;

            @media screen and (max-width :680px) {
                margin-left: 40px;
                padding-bottom: 25px;
                background: #ffffff00;
            }

            @media screen and (max-width :414px) {
                margin-left: 8px;

            }

            @media screen and (max-width :375px) {
                margin-left: -15px;

            }


        }
    }


}

/* 中間圓形 */
.timeline ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateX(-40%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(238, 193, 109);

    @media screen and(max-width:680px) {
        display: none;
    }
}


/* ------------↓內容div--------------- */
.timeline ul li div {
    background: rgb(238, 193, 109);
    position: relative;
    bottom: 0;
    width: 300px;
    padding: 10px;

    @media screen and (max-width :1105px) {
        width: 235px;
    }

    @media screen and (max-width :680px) {
        width: calc(100vw - 250px);
        bottom: -25px;
    }

    @media screen and (max-width :414px) {
        width: 280px;
    }
}



.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 0;
    border-style: solid;

    @media screen and (max-width :680px) {

        bottom: 5px;


    }

}

/* 單數div */
.timeline ul li:nth-child(odd) div {
    left: -360px;

    @media screen and (max-width :1105px) {
        left: -275px;
    }

    @media screen and (max-width :680px) {
        left: 40px;
        //    / padding-bottom: 10px;
    }
}


.timeline ul li:nth-child(odd) div .Act_content {
    left: -5px;
    top: 6px;
    display: flex;
    width: 100%;

    @media screen and (max-width :680px) {
        top: 4px;
    }

    p {
        width: 60%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

/* 雙數div */
.timeline ul li:nth-child(even) div {
    left: 50px;

    @media screen and (max-width :680px) {
        left: 40px;

    }
}

.timeline ul li:nth-child(even) div .Act_content {
    left: -5px;
    top: 5px;
    display: flex;
    width: 100%;

    p {
        width: 60%;
    }

    img {
       width: 100%;
       height: 100%;
    }
}

.timeline ul li:nth-child(odd) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent rgb(238, 193, 109);

    @media screen and (max-width :680px) {
        left: -15px;
        border-width: 10px 16px 8px 0px;
        border-color: transparent #eec16d transparent transparent;
    }
}

.timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 10px 16px 8px 0;
    border-color: transparent rgb(238, 193, 109) transparent transparent;
}



/* ------------動-------- */
.text {

    .time {
        font-weight: bold;
        font-size: 28px;
        padding-left: 12px;

        @media screen and (max-width :680px) {
            font-size: 20px;
        }
    }

    .Act_text {
        font-size: 18px;
        margin-left: 9px;
        margin-top: -22px;
        color: rgba(0, 0, 0, 0.8);

        @media screen and (max-width :680px) {
            font-size: 16px;
        }
    }

    .Act_content {

        img {
            margin-top: -10px;
            margin-left: 9px;
            margin-bottom: 20px;
        }


        @media screen and (max-width :1105px) {
            img {
                margin: 0;
            }

        }

    }

    .Act_text {
        padding: 5px;
    }
}

.timeline ul li::after {
    transition: all 2s ease-out;
}

.timeline ul li div {
    opacity: 0;

    transition: all 1s ease-out;
}

/* x橫,y直,z前後 */
.timeline ul li:nth-child(odd) div {
    transform: translate3d(-200px, 0, 10px);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(200px, 0, 0);
}

/* 原點動畫換色 */
.timeline ul li.in-view::after {
    background: rgb(14, 170, 136);
}

.timeline ul li.in-view div {
    transform: none;
    opacity: 1;
}

/* ___________scrollbar____________ */
#scrollbar::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #4b95a2;
}

#scrollbar::-webkit-scrollbar {
    width: 12px;

    @media screen and (max-width :414px) {
        width: 10px;
    }
}


#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ffc72e;
}

///////////////////////////////

#scrollbarwithe::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #8f8f8f57;
}

#scrollbarwithe::-webkit-scrollbar {
    width: 10px;

    @media screen and (max-width :414px) {
        width: 8px;
    }
}


#scrollbarwithe::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #fafafa;
}




//////////////////////

// ----------優惠券------
.Ord_Cou {
 
    width: 750px;
    height: 70vh;
    margin-top: 70px;
    margin-left: 250px;
    overflow-y: auto;

    @media screen and (max-width :1105px) {
        width: 585px;
    }

    @media screen and (max-width :770px) {
        width: 70%;
        margin-left: 230px;
    }

    @media screen and (max-width :680px) {
        width: 62%;
        margin-left: 235px;
    }

    @media screen and (max-width :547px) {
        width: 60%;
        margin-top: 30px;
        margin-left: 218px;
    }

    @media screen and (max-width :414px) {
        width: 58%;
        margin-left: 218px;
    }


    .Ord_table {
        // width: 720px;
        width: 100%;
        border-spacing: 0;
        text-align: center;
        padding: 5px;

        @media screen and (max-width :547px) {
            display: none;
        }

        .Ord_th {
            background-color: rgb(75, 149, 162);
            color: rgb(247, 236, 236);
            padding: 10px;

            @media screen and (max-width :547px) {
                padding: 5px;

            }
        }

        .Ord_td {
            padding: 10px;

            @media screen and (max-width :547px) {
                padding: 5px;

            }
        }
    }

    .Ord_table_2 {
        display: none;

        @media screen and (max-width :547px) {
            display: block;
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            padding: 0 5px;
        }

        @media screen and (max-width :414px) {
            width: 100%;

        }

        .ordnum,
        .ordmony {
            width: 50%;
            padding: 5px 0;
            border-bottom: 1px solid rgb(148, 146, 146);
        }

        .orddate,
        .ords {
            width: 50%;
        }
    }

    .mem_Coupon {
        margin-top: 50px;
        width: 100%;

        .mem_Coupon_img {
            width: 100%;
            // text-align: center;

            // @media screen and (max-width :414px) {
            //     width: 100%;
            // }

            img {
                width: 45%;

                @media screen and (max-width :547px) {
                    width: 80%;
                }

                @media screen and (max-width :414px) {
                    width: 45%;
                }
            }
        }
    }
}




// _____________我的收藏_______

.C_love {
    margin-top: 40px;
    margin-left: 205px;
    width: 75%;
    height: 65%;
    padding-bottom: 40px;
    display: inline-block;
    overflow-y: auto;

    @media screen and (max-width :1105px) {
        margin-left: 175px;
        height: 60%;
    }

    @media screen and (max-width :770px) {
        width: 75%;
        height: 55%;
    }

    @media screen and (max-width :680px) {
        margin-left: 160px;
        height: 60%;

    }

    @media screen and (max-width :547px) {
        margin-left: 180px;
        width: 65%;

    }

    @media screen and (max-width :414px) {

        margin-left: 165px;
        width: 368px;
        margin-top: 20px;
        height: 380px;
    }

    @media screen and (max-width :375px) {
        margin-left: 163px;
        margin-top: 14px;
        height: 300px;
        width: 300px;

    }

    @media screen and (max-height :823px) {
        height: 62vh;
    }

    .memeLove_Content {
        width: 31%;
        margin: 0 5px;
        display: inline-block;

        @media screen and (max-width :680px) {
            width: 45%;
        }

        @media screen and (max-width :414px) {
            margin: 0 0 15px 20px;
            width: 85%;
        }

        .book_img {
            width: 100%;

            @media screen and (max-width :680px) {
                width: 100%;
            }
        }

        .memLove_book {
            margin: 0;
            padding: 10px 5px;

            @media screen and (max-width :414px) {
                padding: 10px 0;
            }
        }

        #Cancel_love {
            width: 40px;
        }
    }
}

// ________會員資料____________
.mem_file {

    margin-top: 70px;
    margin-left: 220px;

    @media screen and (max-width :770px) {
        margin-left: 180px;
    }

    @media screen and (max-width :414px) {
        margin-top: 40px;
        margin-left: 160px;
    }

    @media screen and (max-width :375px) {
        margin-top: 18px;
         height: 82vh;
         overflow-y: auto;
    }


    .mem_all {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px 0;

        @media screen and (max-width :1105px) {
            margin-left: 0;
            width: 100%;
        }

        @media screen and (max-width :680px) {
            width: 100%;
            order: 1;
        }

        .mem_title {
            width: 50%;

            @media screen and (max-width :1105px) {
                width: 60%;
            }

            @media screen and (max-width :680px) {
                width: 100%;
                order: 2;
                text-align: center;
            }

            label {
                width: 60px;
                margin: 10px;
                text-align: center;

                @media screen and (max-width :770px) {
                    margin: 5px 10px 0 5px;
                    width: 65px;
                }

                @media screen and (max-width :414px) {
                    margin: 5px 0 0 0;
                    width: 60px;
                }
            }

            input {
                width: 250px;
                //下底線 背景色
                // height: 41px;
                border-style: none;
                border-bottom: 1px solid rgb(107, 106, 106);
                background-color: rgba(246, 245, 244, 0);

                @media screen and (max-width :770px) {
                    width: 65%;
                }

                &:focus {
                    outline-color: #dc6247;
                }
            }
        }

        .mem_photo {
            width: 50%;
            text-align: center;
            margin: 0px auto;

            @media screen and (max-width :1105px) {
                width: 40%;
            }

            @media screen and (max-width :414px) {
                width: 100%;
            }

            #mem_img {
                max-width: 250px;
                height: 250px;
                margin: 8px;

                @media screen and (max-width :1105px) {
                    margin: 0;
                    max-width: 200px;
                    max-height: 200px;
                }

                @media screen and (max-width :414px) {
                    max-width: 130px;
                    max-height: 130px;
                }
            }

            #labelFile {
                color: rgb(158, 157, 157);
                width: 180px;
                display: block;
                border: 2px solid rgba(129, 129, 129, 0.6);
                border-radius: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 15px auto 0;
                padding: 10px;
                text-align: center;
                cursor: pointer;

                @media screen and (max-width :680px) {
                    margin: 10px auto 0px
                }

                @media screen and (max-width :547px) {
                    padding: 5px;
                    width: 100px;
                }



                /* 藏後面 */
                &:hover,
                &:focus {
                    color: #575251;
                    border-color: #dc6247;
                }
            }

            /* input */
            #mem_Pic {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
            }
        }

        .mem_modify {
            margin: 15px auto;

            @media screen and (max-width :680px) {
                order: 3;
            }

            #modify_btn {
                background-color: #dc6247;
                width: 150px;
                height: 50px;
                outline: none;
            }
        }
    }
}
