.background {
    border: 1px solid transparent;
    background-image: url('../img/shop/vender4.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-1 {
    width: 100%;
    height: 100vh;
    background-image: url('/img/shop/vender.png');
    background-position: center;
    background-size: cover;
}

.shop_map {
    position: absolute;
    width: 550px;
    right: 5%;
    top: 15%;
    .map_container {
        background-color: yellow;
        h1 {
            color: black;
        }
    }
    .small_map1 {
        position: absolute;
        left: 15%;
    }
    .small_map2 {
        position: absolute;
        top: 200%;
        left: 45%;
    }
    .small_map3 {
        position: absolute;
        top: 200%;
        right: 15%;
    }
    .small_map5 {
        position: absolute;
        width: 100%;
    }
}

.special {
    position: absolute;
    display: none;
    top: 7.5%;
}

.contain {
    flex-wrap: wrap;
    width: 300px;
}

$ripple-color: black;
.ripple {
    margin: auto;
    margin-top: 10rem;
    animation: ripple 2s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0.2rem rgba($ripple-color, 0.2), 0 0 0 0.45rem rgba($ripple-color, 0.2), 0 0 0 1.25rem rgba($ripple-color, 0.2);
    }
    100% {
        box-shadow: 0 0 0 0.35rem rgba($ripple-color, 0.2), 0 0 0 1rem rgba($ripple-color, 0.2), 0 0 0 2rem rgba($ripple-color, 0);
    }
}

.swiper-container {
    width: 600px;
    height: 300px;
}

.inner_cart {
    width: 500px;
    position: fixed;
    top: 10%;
    right: 5%;
    transition: all ease 0.5s;
    z-index: 999999999999999;
    border-radius: 10px;
    transform: scale(0);
}

.showcart {
    transform: scale(1);
}

.car-logo {
    cursor: pointer;
    background-image: url('/img/shop/小增肌蛋白.png');
    position: fixed;
    background-size: cover;
    width: 100px;
    height: 100px;
    right: 10%;
    bottom: 5%;
    z-index: 9999999999;
}

.title {
    width: 25%;
}

.tb {
    overflow-y: scroll;
}

.scroll2::-webkit-scrollbar {
    width: 5px;
}

.scroll2::-webkit-scrollbar-thumb {
    background: #666;
}

@media screen and (max-width: 767px) {
    .inner_cart {
        max-width: 100%;
    }
}

.card {
    max-width: 300px;
    float: left;
}

.car-logo2 {
    cursor: pointer;
    background-image: url('/img/shop/小增肌蛋白.png');
    position: fixed;
    background-size: cover;
    width: 100px;
    height: 100px;
    right: 10%;
    top: 0;
    z-index: 9999999999;
}

.product-vendor {
    position: absolute;
    bottom: 5%;
    width: 350px;
    img {
        width: 100%;
    }
}

.product-vendor-1 {
    position: absolute;
    max-width: 350px;
    bottom: 5%;
    left: 28%;
    img {
        width: 100%;
    }
}

// .shop_product {
//     position: relative;
// }
.product-1 {
    position: absolute;
    top: 9%;
}

.product-2 {
    position: absolute;
    top: 12%;
}

.planet {
    position: absolute;
    bottom: 3%;
    right: 2%;
    width: 400px;
}

@media screen and (max-width: 1680px) {
    .product-vendor-1 {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .product-vendor {
        width: 500px;
        .product-box {
            width: 100px;
            height: 150px;
        }
    }
}