.header_1920 {
    // text-shadow: 0.5px 0.5px 0 rgb(214, 214, 214), 1.1px 1.3px 0 rgba(39, 38, 38, 0.6), 0.2px 0.2px 0 rgba(117, 117, 117, 0.8);

    .navbar {
        padding-top: 8%;

        .logo {
            position: absolute;
            left: 2%;
            top: 10%;
        }

        .mem_icon {
            position: fixed;
            right: 3px;
            top: 50%;
            z-index: 999;

            a {
                text-decoration: none;
            }
        }

        .nav_word {
            position: absolute;
            display: inline-flex;
            right: 2%;
            top: 39%;

            #border_page {
                content: "";
                // z-index: -1;
                position: absolute;
                height: 2px;
                top: 20%;
                background: #f8f9fa;
                width: 30%;
                // transition: 0.5s;
                // width: 60%;
            }

            a {
                text-decoration: none;
            }

            ul {
                display: inline-flex;
                list-style: none;

                div {
                    a {
                        // text-decoration: none;
                        position: relative;
                        display: inline-block;
                        height: 28px;
                        overflow: hidden;

                        &:hover span:nth-child(1) {
                            top: -100%;
                            transition: 0.8s;
                        }

                        &:hover span:nth-child(2) {
                            left: 100%;
                            transition: 0.8s;
                            transition-delay: 0.2s;
                        }

                        &:hover span:nth-child(3) {
                            bottom: -100%;
                            transition: 0.8s;
                            transition-delay: 0.4s;
                        }

                        &:hover span:nth-child(4) {
                            right: 100%;
                            transition: 0.8s;
                            transition-delay: 0.6s;
                        }

                        span {
                            position: absolute;
                            display: block;

                            &:nth-child(1) {
                                left: 0px;
                                top: 100%;
                                width: 2px;
                                height: 100%;
                                background: linear-gradient(to top, transparent, #fff);
                            }

                            &:nth-child(2) {
                                left: -108%;
                                top: 0px;
                                width: 108%;
                                height: 2px;
                                background: linear-gradient(to right, transparent, #fff);
                            }

                            &:nth-child(3) {
                                right: 0px;
                                bottom: 100%;
                                width: 2px;
                                height: 100%;
                                background: linear-gradient(to bottom, transparent, #fff);
                            }

                            &:nth-child(4) {
                                right: -108%;
                                bottom: 0px;
                                width: 108%;
                                height: 2px;
                                background: linear-gradient(to left, transparent, #fff);
                            }
                        }
                    }

                    &:nth-child(1) {
                        a {
                            li {
                                width: 100%;
                                height: 100%;
                                position: relative;

                                &::before {
                                    content: '巨巨的肉體';
                                    position: absolute;
                                    width: 0%;
                                    height: 100%;
                                    background: #f46f65;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    top: 0px;
                                    left: 0px;
                                }
                            }

                            &:hover li::before {
                                width: 100%;
                                text-shadow: 0px 0px 1px #f46f65, 0px 0px 1px #f46f65;
                                transition: all 0.4s linear 1s;
                            }
                        }
                    }

                    &:nth-child(2) {
                        a {
                            li {
                                width: 100%;
                                height: 100%;
                                position: relative;

                                &::before {
                                    content: '巨知識';
                                    position: absolute;
                                    width: 0%;
                                    height: 100%;
                                    background: #f46f65;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    top: 0px;
                                    left: 0px;
                                }
                            }

                            &:hover li::before {
                                width: 100%;
                                text-shadow: 0px 0px 1px #f46f65, 0px 0px 1px #f46f65;
                                transition: all 0.4s linear 1s;
                            }
                        }
                    }

                    &:nth-child(3) {
                        a {
                            li {
                                width: 100%;
                                height: 100%;
                                position: relative;

                                &::before {
                                    content: '賣肉商城';
                                    position: absolute;
                                    width: 0%;
                                    height: 100%;
                                    background: #f46f65;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    top: 0px;
                                    left: 0px;
                                }
                            }

                            &:hover li::before {
                                width: 100%;
                                text-shadow: 0px 0px 1px #f46f65, 0px 0px 1px #f46f65;
                                transition: all 0.4s linear 1s;
                            }
                        }
                    }

                    &:nth-child(4) {
                        a {
                            li {
                                width: 100%;
                                height: 100%;
                                position: relative;

                                &::before {
                                    content: '活動區';
                                    position: absolute;
                                    width: 0%;
                                    height: 100%;
                                    background: #f46f65;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    top: 0px;
                                    left: 0px;
                                }
                            }

                            &:hover li::before {
                                width: 100%;
                                text-shadow: 0px 0px 1px #f46f65, 0px 0px 1px #f46f65;
                                transition: all 0.4s linear 1s;
                            }
                        }
                    }

                    &:nth-child(5) {
                        a {
                            li {
                                width: 100%;
                                height: 100%;
                                position: relative;

                                &::before {
                                    content: '會員專區';
                                    position: absolute;
                                    width: 0%;
                                    height: 100%;
                                    background: #f46f65;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    top: 0px;
                                    left: 0px;
                                }
                            }

                            &:hover li::before {
                                width: 100%;
                                text-shadow: 0px 0px 1px #f46f65, 0px 0px 1px #f46f65;
                                transition: all 0.4s linear 1s;
                            }
                        }
                    }
                }

                li {
                    list-style: none;
                }
            }
        }
    }
}

@media screen and (min-width: 951px) {

    .header_phone,
    .logo_phone {
        display: none;
    }
}

//rwd
@media screen and (max-width: 950px) {

    .header_phone,
    .header_1920 {
        display: none;
    }

    .header_phone {
        background-color: rgba(53, 60, 73, 0.9);
        width: 70%;
        height: 100vh;
        text-align: center;
        z-index: 80;
        // position: relative;
        position: fixed;
        right: -5%;
        top: -5%;
        margin: 0 auto;

        a {
            text-decoration: none;
        }

        .header_phone798 {
            // position: absolute;
            right: -40%;
            top: 15%;
            z-index: 66;
        }
    }

    .hamburger {
        position: fixed;
        right: 5%;
        top: 4%;
        width: 40px;
        height: 40px;
        z-index: 100;

        span {
            display: block;
            margin: 10px auto;
            background-color: #f8f9fa;
            width: 100%;
            height: 5px;
            border-radius: 5px;
            transition: all 0.5s ease;
        }

        /* Hambuger hover animation */
        &:hover {
            span:first-child {
                transform: translateY(-5px);
            }

            span:last-child {
                transform: translateY(5px);
            }
        }
    }

    /* Hambuger click animation to cross */
    .hamburger.is-opened {
        span:first-child {
            transform: translateY(10px) rotate(45deg);
        }

        span:nth-child(2) {
            transform: scaleX(0);
        }

        span:last-child {
            transform: translateY(-20px) rotate(-45deg);
        }
    }
}

@media screen and (max-width: 414px) {
    .header_phone {
        right: 0;
        top: -3.8%;

        .header_phone798 {
            right: -22%;
            top: 5%;
        }
    }
}

@media screen and (max-width: 375px) {
    .header_phone {
        right: 0;
        top: -4%;
        height: 100vh;

        .header_phone798 {
            right: -25%;
            top: -2%;
        }
    }
}