<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/mem/TITANLOGO.ico" type="image/x-icon" />
    <title>巨神健身|設施資訊</title>
    <link rel="stylesheet" href="./css/style.css">
    
    <script src="https://kit.fontawesome.com/a80a57b001.js" crossorigin="anonymous"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/popper.js/dist/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <script src="./js/backgroundManager.js"></script>
</head>

<body>


    <div class="row" style="margin: 0px;">
      <nav class="col-md-2  d-md-block  bg-light" style="padding-right:0px;">
            <div class="sidebar-sticky ml-3">

                <img src="/img/logo-01.png" style="width: 100px;">
                <ul class="nav flex-column mb-2 " style="margin-top: 50px;">
                    <li class="nav-item h5">
                        <a href="backgroundDashboard.html" style="margin-top: 50px;">會員</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2 ">
                    <li class="nav-item h5">
                        <a href="backgrundShopping.html">商城商品</a>
                    </li>
                </ul>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundOrder.html">訂單</a>
                    </li>
                </ul>



                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <div data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">活動區
                        </div>
                        <div class="collapse mt-2" id="collapseExample">
                            <a class="mb-2" style="display: block;" href="backgroundActivity.html">活動資料(審核/上架)</a>
                            <a class="mb-2" style="display: block;" href="backgroundActivity-2.html">參賽資料(審核/取消資格)</a>
                            <a class="mb-2" style="display: block;" href="backgroundReport.html">留言板(檢舉)</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundEquipment.html">運動器材</a>
                    </li>
                </ul>


                <ul class="nav flex-column mb-2">
                    <li class="nav-item h5">
                        <a href="backgroundManager.html">管理員</a>
                    </li>
                </ul>

                 <ul class="nav flex-column mb-2 mt-4">
                     <li class="nav-item h5" id="h5out" style=" cursor: pointer;">
                         登出
                     </li>
                 </ul>


            </div>
        </nav>

        <div class="col-md-10">

            <h1 class="h3  mt-3">設施資訊</h1>
            <h3 class="h3  mt-3">新增設施</h3>
            <div class="row">
                <div class="ml-3">
                    <h4>設施編號</h4>
                    <input type="number">
                </div>
                <div class="ml-3">
                    <h4>設施經緯度</h4>
                    <input type="number">
                </div>
                <div class="ml-3 text-right"><button href="#" style="width: 50px;">新增</button></div>

            </div>

            <table class="table mt-4">
                <thead>
                    <tr>
                        <th class="text-center  h5">運動項目編號</th>
                        <th class="text-center  h5">名稱</th>
                        <th class="text-center  h5">icon圖</th>
                        <th class="text-center  h5">影片</th>
                        <th class="text-center  h5">狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, key) in orders" :key="key">
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>




</body>

</html>
